* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 42px;
}

.bg-dark {
    background-color: #313132 !important;
}

main {
    background-color: #F5F5F7 !important;
    width: 100%;
    height: 100vh;
}

@media (min-width: 992px) {
    .nav-link {
        color: #F5F5F7 !important;
    }

    .nav-container {
        margin-left: 3rem !important;
    }

    .button-container {
        position: absolute;
        right: 40px;
    }

}

.navbar-toggler-icon {
    width: 1em;
    height: 0.8em;
    background-position: bottom;
}

.nav-container {
    margin-left: 1rem !important;
}

.nav-item5 {
    margin-top: 6px;

}

button {
    background: darkgrey;
    border-color: #F5F5F7;
    color: black;
    margin-left: 3px;
    border-radius: 5px;
}

#slider {
    background-color: red;
    height: 35vh;
}