* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    position: fixed;
    height: 42px;
    z-index: 5;
}

.bg-dark {
    background-color: #313132 !important;
}

main {
    background-color: #F5F5F7 !important;
    width: 100%;
    height: 100vh;
}

@media (min-width: 992px) {
    .nav-link {
        color: #F5F5F7 !important;
    }

    .nav-container {
        margin-left: 3rem !important;
    }

    .button-container {
        position: absolute;
        right: 40px;
    }
}

.navbar-toggler-icon {
    width: 1em;
    height: 0.8em;
    background-position: bottom;
}

.nav-container {
    margin-left: 1rem !important;
}

.nav-item5 {
    margin-top: 6px;
}

button {
    background: #FF8C00;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 3px;
}

img {
    background-size: cover;
    background-position: center;
}

.login-form {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.form-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-input {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: #FF8C00;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #F5F5F5;
}


/*//////////////////////////////////////*/


